{{ define "main" }}

{{ if site.Params.list.showHero }}
  {{ partial "hero/background.html" . }}
{{ end }}


<section class="section">
  <div class="mx-auto max-w-6xl px-6">

    <div class="grid gap-10 md:grid-cols-[260px_1fr]">

      <!-- LEFT: Profile -->
    <aside class="text-left">
      {{ with .Params.image }}
        <img
          src="{{ . | relURL }}"
          alt="{{ $.Title }}"
          class="mb-6 h-40 w-40 rounded-full object-cover">
      {{ end }}

      <h1 class="text-2xl font-bold">{{ .Title }}</h1>

      {{ with .Params.role }}
        <p class="mt-1 text-lg opacity-70">{{ . }}</p>
      {{ end }}

      {{ with .Params.social }}
        <ul class="flex gap-4 mt-4">
          {{ range . }}
            <li>
              <a href="{{ .link }}" target="_blank" rel="noopener">
                <i class="{{ .icon }}"></i>
              </a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </aside>


      <!-- RIGHT: Content -->
      <div class="prose dark:prose-invert max-w-none">
        {{ .Content }}
      </div>

    </div>

  </div>
</section>
{{ end }}
